
.navbar {
    height: 5rem;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-size: 1.3rem;
    backdrop-filter: blur(50px);
    background-color: rgba(24, 13, 48, 0.8)
}

.logo {
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}

.desktopItemMenuList {
    margin: 0 1rem;
    cursor: pointer;
}

.desktopItemMenuList:hover {
    color: #FAC2C1;
    padding-bottom: 0.4rem;
    border-bottom: 5px solid #FAC2C1;
}

.desktopMenuBtn{
    display: inline-block;
    border: none;
    background: url('../../assets/contact_me_img.JPG') no-repeat;
    background-size: cover;
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;    
    margin: 0 1 rem;
    cursor: pointer;
    outline: none;

}

.desktopMenuImg {
    display: none;
}

.active {
    color: #FAC2C1;
    padding-bottom: 0.4rem;
    border-bottom: 5px solid #FAC2C1;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 3rem;

}

.mobileMenu {
    position: absolute;
    top: 5rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    height: fit-content;
    min-width: 15rem;
    background: rgba(25, 22, 26, 0.9);
    border-radius: 1rem;
}

.MenuList {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
}

@media screen and (max-width: 768px) {
    .mobMenu {
        display: flex;
    }

    .navbar {
        height: 4rem;
        padding: 0 1rem; /* Adjust padding as needed */
    }

    .desktopItemMenuList,
    .desktopMenuBtn {
        display: none; /* Hide items on small screens */
    }

    .logo {
        height: 3rem; /* Adjust logo size for smaller screens */
        width: 3rem;
    }
}