#intro {
    height: max(100vh, 600px);
    width: 100vw;
    max-width: 100rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.me {
    position: absolute;
    margin-right: 1rem;
    float: right;
    height: 500px;
    width: 500px;
    top: 17%;
    right: 1rem;
    z-index: -1;
    object-fit:cover;
    filter: drop-shadow(5px 5px 5px black);
}

.introContent {
    position: absolute;
    top: 20%;
    width: 100vw;
    padding: 1rem;
    font-size: 5rem;
    font-weight: 650;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.word1 {
    display: inline-block;
    background-image: url('../../assets/berkeley_tower.JPG');
    background-repeat: repeat;
    background-size:contain;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word2 {
    display: inline-block;
    background-image: url('../../assets/matcha_powder.JPG');
    background-repeat: repeat;
    background-size:contain;
    background-position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word3 {
    display: inline-block;
    background-image: url('../../assets/dan_heng.JPG');
    background-repeat: repeat;
    background-size: contain;
    background-position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.word4 {
    display: inline-block;
    background-image: url('../../assets/porter_robinson.JPG');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hello {
    font-style:italic;
    font-size: 3rem;
    font-weight: 400;
    color:rgb(230, 224, 61);
}

.intro-name {
    color: #DC9F79;
    font-weight: 700;
}

.intro-text {
    font-weight: 550;
}

.intro-paragraph {
    font-weight: 500;
    font-size: 4rem;
    color:white;
}


.sliding-words {
    overflow: hidden;
    white-space: nowrap;
    height: 8rem; /* Adjust the height as needed */
    display: block;
}

.sliding-words span {
    color:skyblue;
    height: 8rem; /* Adjust the height as needed */
    font-size: 5.3rem;
    display: block;
    animation: slide 12s ease infinite; /* Adjust the animation duration as needed */
}

@keyframes slide {
    0%, 20% { transform: translateY(0); } 
    25%, 45% { transform: translateY(-8rem); } 
    50%, 70% { transform: translateY(-16rem); } 
    75%, 95% { transform: translateY(-24rem); } 
    100%, 120% { transform: translateY(-32rem); }
}




@media screen and (max-width: 1360px) {
    #intro {
      height: max(100vh, 900px);
      width: 100vw;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .me {
      top: 1rem;
      margin-top: 20rem;
      position: absolute;
      right: auto;
      z-index: -1;
      height: 400px;
      width: 400px;
      object-fit: cover;
      filter: drop-shadow(5px 5px 5px black);
    }
  
    .introContent {
      top: 1rem;
      width: 100%;
      font-size: 3rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 5rem;
    }
  
    .hello {
      font-size: 1.8rem;
    }
  
    .intro-text {
      font-size: 1.8rem;
    }
  
    .intro-paragraph {
      font-size: 1.8rem;
    }
  
    .sliding-words {
      overflow: hidden;
      white-space: nowrap;
      height: 4rem;
      display: block;
    }
  
    .sliding-words span {
      font-size: 2.3rem;
      font-weight: 800;
      height: 4rem;
      display: block;
      animation: slide 12s ease infinite;
    }
  
    @keyframes slide {
      0%, 20% { transform: translateY(0); } 
      25%, 45% { transform: translateY(-4rem); } 
      50%, 70% { transform: translateY(-8rem); } 
      75%, 95% { transform: translateY(-12rem); } 
      100%, 120% { transform: translateY(-16rem); }
    }
  }


  @media screen and (max-width: 450px) {
    #intro {
      height: max(100vh, 500px);
      width: 100vw;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .me {
      top: 1rem;
      margin-top: 15rem;
      position: absolute;
      right: auto;
      z-index: -1;
      height: 200px;
      width: 200px;
      object-fit: cover;
      filter: drop-shadow(5px 5px 5px black);
    }
  
    .introContent {
      top: 1rem;
      margin-top: 2rem;
      width: 100%;
      font-size: 3rem;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  
    .hello {
      font-size: 1.5rem;
    }
  
    .intro-text {
      font-size: 1.5rem;
    }
  
    .intro-paragraph {
      font-size: 1.5rem;
    }
  
    .sliding-words {
      overflow: hidden;
      white-space: nowrap;
      height: 3rem;
      display: block;
    }
  
    .sliding-words span {
      font-size: 1.7rem;
      font-weight: 800;
      height: 3rem;
      display: block;
      animation: slide 12s ease infinite;
    }
  
    @keyframes slide {
      0%, 20% { transform: translateY(0); } 
      25%, 45% { transform: translateY(-3rem); } 
      50%, 70% { transform: translateY(-6rem); } 
      75%, 95% { transform: translateY(-9rem); } 
      100%, 120% { transform: translateY(-12rem); }
    }
  }
