#intro {
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.me {
    position: absolute;
    top: 10rem;
    right: 0;
    z-index: -1;
    height: 40vh;
    object-fit:cover;
    filter: drop-shadow(5px 5px 5px black)
}